#map-canvas {
	width: 70%;
	float: right;
}

#left-bar {
	width: 30%;
	float: left;
	background-color: gray;
	padding: 10px;
	height: 100%;
}

.header-left {
	width: 30%;
	float: left;
}

.header-right {
	width: 70%;
	float: right;
}

.profilepic {
	float: left;
}

.navbar {
	border-radius: 0px;
}
